.mt-100{
    margin-top: 100px;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
     margin-top: 40px;
 }



.flag-icon{
    height: 20px;
    width: 35px;
}

.node-details-key{
    font-size: 20px;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

.node-details-value{
    font-size: 18px;
    color: gray;
}

.node-header{
    background-color: olivedrab;
    font-family: sans-serif;
    color: white;
}

.nhoHeader{
    background-color: chocolate!important;
}

.insuraceHeader{
    background-color: lightseagreen !important;
}

.success-block{
    margin-top: 10px;
    color: green;
    font-size: 12px;
}

.errormessage{
    margin-top: 10px;
    color: red;
    font-size: 24px;
}